<nav class="navbar">
  <div class="container">
    <img src="logo.png" alt="Luminate Logo" class="logo" />
    <ul class="nav-links">
      <li><a routerLink="">HOME</a></li>
      <li class="dropdown">
        <a routerLink="/about-us" class="dropdown-toggle">ABOUT US</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/about-us">About Us</a></li>
          <li><a routerLink="/projects">Our Projects</a></li>
        </ul>
      </li>
      <li><a routerLink="/solutions">SOLUTIONS</a></li>
      <li><a routerLink="/career">CAREER</a></li>
      <li><a routerLink="/blogs">BLOGS</a></li>
      <li><a routerLink="/contact">CONTACT US</a></li>
    </ul>
    <button class="cta-button" routerLink="/consultation">Free Consultation</button>
  </div>
</nav>